.wheel{
    height: 45vw;
    width: 45vw;
    border: 3px solid black;
    border-radius: 50%;
    max-height: 400px;
    max-width: 400px;
    margin-left: 100px;
    margin-top: 100px;
    position: absolute;
    animation-name: wheel;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.line{
    height: 2px;
    width: 50%;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 0% 0%;
}
.line:nth-of-type(2){
    transform: rotate(60deg);
     
}
.line:nth-of-type(3){
    transform: rotate(120deg);
     
}
.line:nth-of-type(4){
    transform: rotate(180deg);
     
}
.line:nth-of-type(5){
    transform: rotate(240deg);
     
}
.line:nth-of-type(6){
    transform: rotate(300deg);   
}
.cabin{
    height: 20%;
    width: 20%;
    background-color: red;
    position: absolute;
    animation: cabin 10s ease-in-out infinite;
}
.cabin:nth-of-type(1){
    top: 32px;
    left: 65px;

}
.cabin:nth-of-type(2){
    top: 32px;
    right: 65px;

}
.cabin:nth-of-type(3){
    top: 165px;
    right: -20px;

}
.cabin:nth-of-type(4){
    top: 165px;
    left: -20px;

}
.cabin:nth-of-type(5){
    bottom: 5px;
    left: 45px;

}
.cabin:nth-of-type(6){
    bottom:5px;
    right: 45px;

}
@keyframes wheel {
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);

    }
}
@keyframes cabin {
    0%{
        transform: rotate(0deg);
        background-color: red;
    }
    50%{
        background-color: purple;

    }
    100%{
        transform: rotate(360deg);
        background-color: yellow;
    }
}
